<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="banner">
        <img src="~/Content/Images/loliceva-verzija.gif" alt="Smiley face">
    </div>

    @*logo na sredini izmedu slike i menija*@

    <div class="m_logo" id="logo_div">
        <img src="~/Content/Images/logo_icon.png" id="M_logo" width="200" height="198" align="middle">
    </div>


    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href='@Url.Action("Index", "Home")' id="link_na_work">
                            <img src='@Url.Content("~/Content/Images/work_icon.png")' id="work_icn"/>
                            <p>work</p>
                        </a>
                       @* <img src="~/Content/Images/work_icon.png" id="work_icn" alt="sometext" />
   *@
                       @* @Html.ActionLink("Home", "Index", "Home")*@
                    </li>

                    <li>
                        <a href='@Url.Action("Index", "Home")'>
                            <img src='@Url.Content("~/Content/Images/work_icon.png")' id="work_icn" />
                            <p>work</p>
                        </a>
                    </li>

                    <li>
                        <a href='@Url.Action("Index", "Home")'>
                            <img src='@Url.Content("~/Content/Images/work_icon.png")' id="work_icn" />
                            <p>work</p>
                        </a>
                    </li>

                    <li>
                        <a href='@Url.Action("Index", "Home")'>
                            <img src='@Url.Content("~/Content/Images/work_icon.png")' id="work_icn" />
                            <p>work</p>
                        </a>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
